    <div class="card shadow message my-2"  [ngClass]="{'message-sended':owner=== true,'message-receved':owner === false}">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 description ">
            <p style="color: white;font-size: 15px;text-align: center">12/02/2020</p>
            <p style="color: white;font-size: 15px;text-align: center">13:12</p>
          </div>
          <div class="col-md-9">
            <p class="message-text">
              {{message}}
            </p>
          </div>
        </div>
      </div>
    </div>
