<div class="row cont">
  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">
      <div class="blocks">
        <img [src]="user_publieur.image" id="profileimg">
        <h6>{{user_publieur.nom}} {{user_publieur.prenom}}</h6>
        <div class="row" class="littearea">
          <img src="../../assets/offres/fb.png" class="socialmedia" >
          <img src="../../assets/offres/insta.png" class="socialmedia">
          <img src="../../assets/offres/twitter.png" class="socialmedia">
        </div>
      </div>
      <div class="blocks" >
        <img src="../../assets/offres/plus.png" class="socialmedia">

        {{offresPublier.length}} offres
        <br>
        <img src="../../assets/offres/plus.png" class="socialmedia">
        {{nbr_participants}} Répones
      </div>
    </div>
  </div>
  <div class="col-md-9 listbg">
    <div class="list">
      <div class="listblock" >
        <h3>Mes offres publiées</h3>
      </div>
      <div class="listblock" *ngFor="let offre of offresPublier" >
        <div class="row">
          <div class="col-md-9">
            <img [src]="offre.user.image" class="profileimage blockitems">
            <div class="blockitems namedate">
              <span class="sousblockitems username" >{{offre.user.nom}} {{offre.user.prenom}}</span>
              <br>
              <span class="sousblockitems date" >{{offre.dateOffre|date : 'dd/MM/yyyy'}}</span>
              <span class="blockitems ville" >{{offre.ville.nom}} {{offre.quartier.nom}}</span>
            </div>
            <br>
            <span class="blockitems service" >{{offre.typeService.libelle}}</span>
            <br>
            <span class="blockitems desc" >{{offre.desction}}</span>
            <br>
            <span style="color: blue;font-weight: bold;font-size: 15px" (click)="getParticipants(offre.id)">Participants</span>
            <br>
            <span class="blockitems participants" *ngFor="let user of users_proffiteur">
              {{user.nom}}
              {{user.prenom}}
            </span>
          </div>
          <div class="col-md-3" style="padding: 0;" >
            <div class="buttoncotainer">
              <a  class="mybtn1 buttons">
                <img src="../../assets/offres/check.png"  style="color: green" mat-dialog-close="true" (click)="openDialog(offre)"></a>
              <a (click)="deleteUsreOffre(offre.id)" class="mybtn2 buttons">
                <img src="../../assets/offres/x.png" style="color: red" ></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
