<div class="row cont">

  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">

      <div class="blocks" >
        <img src="../../assets/offres/user.jpg" id="profileimg">
        <h6>Maria borney</h6>
        <div class="row" class="littearea">
          <img src="../../assets/offres/fb.png" class="socialmedia" >
          <img src="../../assets/offres/insta.png" class="socialmedia">
          <img src="../../assets/offres/twitter.png" class="socialmedia">

        </div>
      </div>
      <div class="blocks" >
        <img src="../../assets/offres/plus.png" class="socialmedia">

        20 Demandes
        <br>
        <img src="../../assets/offres/plus.png" class="socialmedia">

        50 Répones
      </div>
    </div>



  </div>
  <div class="col-md-9 listbg">
    <div class="list">
      <div class="listblock">
        <h3>Mes demandes publiées</h3>
      </div>

      <div class="listblock">


        <div class="row">
          <div class="col-md-9">
            <img src="../../assets/offres/user.jpg" class="profileimage blockitems">
            <div class="blockitems namedate" >
              <span class="sousblockitems username" >User Name</span>
              <br>
              <span class="sousblockitems date" >27 Mai 2020</span>
              <span class="blockitems ville" >, Ville,Quartier</span>


            </div>
            <br>
            <span class="blockitems service" >Service</span>

            <span class="blockitems desc" >descrption pour rajouter des autres informations qui peuvent etre utiles pour remplir ce  blok </span>

          </div>

          <div class="col-md-3" style="padding: 0;" >
            <div class="buttoncotainer">
              <a href="#" class="mybtn1 buttons">
                <img src="../../assets/offres/check.png" ></a>
              <a href="#" class="mybtn2 buttons">
                <img src="../../assets/offres/x.png" ></a>
            </div>
          </div>

        </div>
      </div>


      <div class="listblock">


        <div class="row">
          <div class="col-md-9 ">
            <img src="../../assets/offres/user.jpg" class="profileimage blockitems">
            <div class="blockitems namedate" >
              <span class="sousblockitems username" >User Name</span>
              <br>
              <span class="sousblockitems date" >27 Mai 2020</span>
              <span class="blockitems ville" >, Ville,Quartier</span>


            </div>
            <br>
            <span class="blockitems service" >Service</span>

            <span class="blockitems desc" >descrption pour rajouter des autres informations qui peuvent etre utiles pour remplir ce  blok </span>

          </div>

          <div class="col-md-3" style="padding: 0;" >
            <div class="buttoncotainer">
              <a href="#" class="mybtn1 buttons">
                <img src="../../assets/offres/check.png" ></a>
              <a href="#" class="mybtn2 buttons">
                <img src="../../assets/offres/x.png" ></a>
            </div>
          </div>

        </div>
      </div>


      <div class="listblock">


        <div class="row">
          <div class="col-md-9">
            <img src="../../assets/offres/user.jpg" class="profileimage blockitems">
            <div class="blockitems namedate" >
              <span class="sousblockitems username" >User Name</span>
              <br>
              <span class="sousblockitems date" >27 Mai 2020</span>
              <span class="blockitems ville" >, Ville,Quartier</span>


            </div>
            <br>
            <span class="blockitems service" >Service</span>

            <span class="blockitems desc" >descrption pour rajouter des autres informations qui peuvent etre utiles pour remplir ce  blok </span>

          </div>

          <div class="col-md-3" style="padding: 0;" >
            <div class="buttoncotainer">
              <a href="#" class="mybtn1 buttons">
                <img src="../../assets/offres/check.png" ></a>
              <a href="#" class="mybtn2 buttons">
                <img src="../../assets/offres/x.png" ></a>
            </div>
          </div>

        </div>
      </div>


      <div class="listblock">


        <div class="row">
          <div class="col-md-9">
            <img src="../../assets/offres/user.jpg" class="profileimage blockitems">
            <div class="blockitems namedate" >
              <span class="sousblockitems username" >User Name</span>
              <br>
              <span class="sousblockitems date" >27 Mai 2020</span>
              <span class="blockitems ville" >, Ville,Quartier</span>


            </div>
            <br>
            <span class="blockitems service" >Service</span>

            <span class="blockitems desc" >descrption pour rajouter des autres informations qui peuvent etre utiles pour remplir ce  blok </span>

          </div>

          <div class="col-md-3" style="padding: 0;" >
            <div class="buttoncotainer">
              <a href="#" class="mybtn1 buttons">
                <img src="../../assets/offres/check.png" ></a>
              <a href="#" class="mybtn2 buttons">
                <img src="../../assets/offres/x.png" ></a>
            </div>
          </div>

        </div>
      </div>





    </div>

  </div>
</div>
