
<body data-spy="scroll" data-target=".fixed-top">

<app-header></app-header>


<!-- Header -->
<header id="header" class="header" >


      <img src="../../../assets/home-page/images/home.jpg" style="background-repeat:no-repeat;height: 655px;width: 100%;">

    <div class="navbar-custom" style="position:absolute;top:360px; width:600px; height:400px; z-index:2;font-size:200%">
      <span class="nav-item">
      <a class=" btn-outline-sm" href="../login/login.component.html" style="margin-left: 760px;margin-top: 130px;width: 300px;height: 70px;font:  700 0.875rem/0  sans-serif;font-size: 24px;text-align: center;">INSCRIVEZ VOUS!<br><br> <br><br><h5 style="font:  700 0.875rem/0  sans-serif;text-align: center;margin-top: 30px">GRATUITEMENT</h5>
      </a>
      </span>
    </div>

</header> <!-- end of header -->

<!-- end of header -->







<!-- Description -->
<div class="cards-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <h2 class="h2-heading">NOS ESPACES</h2>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../../assets/home-page/images/voisinage.jpg" alt="alternative" style="border-radius: 5px;height:200px;width: 500px">
          </div>
          <div class="card-body">
            <h4 class="card-title">Voisinage</h4>
            <p>Proposez ou demandez de l'aide à vos voisins ,tout en respectant les mesures d’hygiène préventives.</p>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../../assets/home-page/images/isolement.jpg" alt="alternative" style="border-radius: 5px;height: 200px;width: 500px">
          </div>
          <div class="card-body">
            <h4 class="card-title">Rompre l'isolement</h4>
            <p>Signaler votre besoin de parler,on vous appelera régulièrement  pour vous fournir un soutien moral.</p>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../../assets/home-page/images/enseignement.jpg" alt="alternative" style="border-radius: 5px;height: 200px;width: 500px">
          </div>
          <div class="card-body">
            <h4 class="card-title">Enseignement à distance</h4>
            <p>Partagez vos connaissances et posez des s dans différents sujets , vous aurez la réponse!</p>
          </div>
        </div>
        <!-- end of card -->
        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img class="img-fluid" src="../../../assets/home-page/images/stati.jpg" alt="alternative" style="border-radius: 5px;height: 200px;width: 500px">
          </div>
          <div class="card-body">
            <h4 class="card-title">Statistiques</h4>
            <p>Suivez l'évolution du virus dans le monde , et jettez un coup d'oeil sur l'évolution de notre communauté sur le site.</p>
          </div>
        </div>
        <!-- end of card -->

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of description -->


<!-- Features -->
<div id="features" class="tabs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <h2 class="h2-heading">QUI SOMMES NOUS ?</h2>
        <p class="p-heading">Plateforme de solidarité COVID-19</p>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">

        <!-- Tabs Links -->
        <ul class="nav nav-tabs" id="argoTabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-home"></i>A PROPOS DE NOUS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-info"></i>INFO COVID-19</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-list"></i>BON A SAVOIR</a>
          </li>
        </ul>
        <!-- end of tabs links -->

        <!-- Tabs Content -->
        <div class="tab-content" id="argoTabsContent">

          <!-- Tab -->
          <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
            <div class="row">
              <div class="col-lg-6">
                <div class="image-container">
                  <img class="img-fluid" src="../../../assets/home-page/images/logo1.png" alt="alternative" style="margin-left: 250px;margin-top: 40px
">
                </div> <!-- end of image-container -->
              </div> <!-- end of col -->
              <div class="col-lg-6">
                <div class="text-container">
                  <h3>A PROPOS DE NOUS</h3>
                  <p>Notre but est d'apporter des solutions innovantes aux défis engendrés par l’épidémie du Coronavirus, on vise ainsi à inciter et aider les internautes à montrer le sens de solidarité durant les périodes difficiles, et à partager leur savoir faire et leurs connaissances avec les gens qui en ont besoin.</p>

                  <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">INSCRIVEZ VOUS !</a>
                </div> <!-- end of text-container -->
              </div> <!-- end of col -->
            </div> <!-- end of row -->
          </div> <!-- end of tab-pane -->
          <!-- end of tab -->

          <!-- Tab -->
          <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
            <div class="row">
              <div class="col-lg-6">
                <div class="image-container">
                  <img class="img-fluid" src="../../../assets/home-page/images/covid.jpg" alt="alternative" style="height: 400px;margin-left:200px;border-radius: 5px">
                </div> <!-- end of image-container -->
              </div> <!-- end of col -->
              <div class="col-lg-6">
                <div class="text-container">
                  <h3>INFO COVID-19</h3>
                  <p>Le virus qui entraîne la COVID-19 se transmet ‎principalement par des gouttelettes produites ‎lorsqu’une personne infectée tousse, éternue, ou ‎lors d’une expiration. Ces gouttelettes sont trop ‎lourdes pour rester dans l’air et tombent ‎rapidement sur le sol ou sur toute surface proche.</p>
                  <p>Vous pouvez être infecté:</p>
                  <ul class="list-unstyled li-space-lg">
                    <li class="media">
                      <i class="fas fa-square"></i>
                      <div class="media-body">En respirant le virus, si ‎vous êtes à proximité d’une personne malade.</div>
                    </li>
                    <li class="media">
                      <i class="fas fa-square"></i>
                      <div class="media-body">En ‎touchant une surface contaminée puis vos yeux, ‎votre nez ou votre bouche.‎</div>
                    </li>

                  </ul>

                </div> <!-- end of text-container -->
              </div> <!-- end of col -->
            </div> <!-- end of row -->
          </div> <!-- end of tab-pane -->
          <!-- end of tab -->

          <!-- Tab -->
          <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
            <div class="row">
              <div class="col-lg-6">
                <div class="image-container">
                  <img class="img-fluid" src="../../../assets/home-page/images/bonasav.jpg" alt="alternative" style="border-radius: 5px">
                </div> <!-- end of image-container -->
              </div> <!-- end of col -->
              <div class="col-lg-6">
                <div class="text-container">
                  <h3>BON A SAVOIR</h3>
                  <p>Contribuez à arrêter le coronavirus.</p>
                  <ul class="list-unstyled li-space-lg">
                    <li class="media">
                      <i class="fas fa-square"></i>
                      <div class="media-body">RESTEZ chez vous autant que possible.</div>
                    </li>
                    <li class="media">
                      <i class="fas fa-square"></i>
                      <div class="media-body">GARDEZ une distance de sécurité.</div>
                    </li>
                    <li class="media">
                      <i class="fas fa-square"></i>
                      <div class="media-body">LAVEZ-VOUS souvent les mains.</div>
                    </li>
                    <li class="media">
                      <i class="fas fa-square"></i>
                      <div class="media-body">COUVREZ-VOUS la bouche quand vous toussez.</div>
                    </li>
                    <li class="media">
                      <i class="fas fa-square"></i>
                      <div class="media-body">VOUS ÊTES MALADE? Appelez votre médecin.</div>
                    </li>
                  </ul>

                </div> <!-- end of text-container -->
              </div> <!-- end of col -->
            </div> <!-- end of row -->
          </div> <!-- end of tab-pane -->
          <!-- end of tab -->

        </div> <!-- end of tab content -->
        <!-- end of tabs content -->

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of tabs -->
<!-- end of features -->


<!-- Details Lightboxes -->
<!-- Details Lightbox 1 -->
<div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
  <div class="container">
    <div class="row">
      <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
      <div class="col-lg-8">
        <div class="image-container">
          <img class="img-fluid" src="../../../assets/home-page/images/details-lightbox.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
      <div class="col-lg-4">
        <h3>List Building</h3>
        <hr>
        <h5>Core service</h5>
        <p>It's very easy to start using Tivo. You just need to fill out and submit the Sign Up Form and you will receive access to the app.</p>
        <ul class="list-unstyled li-space-lg">
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">List building framework</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Easy database browsing</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">User administration</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Automate user signup</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Quick formatting tools</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Fast email checking</div>
          </li>
        </ul>
        <a class="btn-solid-reg mfp-close" href="sign-up.html">SIGN UP</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of lightbox-basic -->
<!-- end of details lightbox 1 -->

<!-- Details Lightbox 2 -->
<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
  <div class="container">
    <div class="row">
      <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
      <div class="col-lg-8">
        <div class="image-container">
          <img class="img-fluid" src="../../../assets/home-page/images/details-lightbox.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
      <div class="col-lg-4">
        <h3>Campaign Monitoring</h3>
        <hr>
        <h5>Core service</h5>
        <p>It's very easy to start using Tivo. You just need to fill out and submit the Sign Up Form and you will receive access to the app.</p>
        <ul class="list-unstyled li-space-lg">
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">List building framework</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Easy database browsing</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">User administration</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Automate user signup</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Quick formatting tools</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Fast email checking</div>
          </li>
        </ul>
        <a class="btn-solid-reg mfp-close" href="sign-up.html">SIGN UP</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of lightbox-basic -->
<!-- end of details lightbox 2 -->

<!-- Details Lightbox 3 -->
<div id="details-lightbox-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
  <div class="container">
    <div class="row">
      <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
      <div class="col-lg-8">
        <div class="image-container">
          <img class="img-fluid" src="../../../assets/home-page/images/details-lightbox.png" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
      <div class="col-lg-4">
        <h3>Analytics Tools</h3>
        <hr>
        <h5>Core service</h5>
        <p>It's very easy to start using Tivo. You just need to fill out and submit the Sign Up Form and you will receive access to the app.</p>
        <ul class="list-unstyled li-space-lg">
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">List building framework</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Easy database browsing</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">User administration</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Automate user signup</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Quick formatting tools</div>
          </li>
          <li class="media">
            <i class="fas fa-square"></i><div class="media-body">Fast email checking</div>
          </li>
        </ul>
        <a class="btn-solid-reg mfp-close" href="sign-up.html">SIGN UP</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of lightbox-basic -->
<!-- end of details lightbox 3 -->
<!-- end of details lightboxes -->





<!-- Video -->
<div id="video" class="basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <!-- Video Preview -->

        <h2 class="h2-heading">3 MIN POUR MIEUX COMPRENDRE ...</h2>
        <br>
        <div class="image-container">
          <div class="video-wrapper">
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=zGIslyvfGlg" data-effect="fadeIn">
              <img class="img-fluid" src="../../../assets/home-page/images/video.JPG" alt="alternative">
              <span class="video-play-button">
                                    <span></span>
                                </span>
            </a>
          </div> <!-- end of video-wrapper -->
        </div> <!-- end of image-container -->
        <!-- end of video preview -->


      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of video -->




<!-- Newsletter -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">

          <h2>Contactez nous !</h2>

          <!-- Newsletter Form -->
          <form id="newsletterForm" data-toggle="validator" data-focus="false">
            <div class="form-group">
              <input type="email" class="form-control-input" id="nemail" required>
              <label class="label-control" for="nemail">Email</label>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control-input" id="txt" required></textarea>
              <label class="label-control" >Message</label>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group checkbox">
              <input type="checkbox" id="nterms" value="Agreed-to-Terms" required> Acceptez nos <a href="terms-conditions.html">Conditions générales</a>, notre Politique d’utilisation des données et notre Politique d’utilisation des cookies. <a href="terms-conditions.html">Terms Conditions</a>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control-submit-button">ENVOYER</button>
            </div>
            <div class="form-message">
              <div id="nmsgSubmit" class="h3 text-center hidden"></div>
            </div>
          </form>
          <!-- end of newsletter form -->

        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="icon-container">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
          <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
          <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
          <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
          <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
        </div> <!-- end of col -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of form -->
<!-- end of newsletter -->


<app-footer></app-footer>


</body>

