

<div  id="headerMenu">

</div>


<div class="row">
  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">

      <div class="blocks" >
        <img src="../../assets/offres/user.jpg" class="commentimg">
        <img class="insidchoix"  src="assets/isolement-img/sad.png" class="etaticone">


        <h3>Maria borney</h3>

      </div>
      <div class="blocks" >
        <img src="../../assets/offres/poster4.jpg" class="commentimg">
        <img class="insidchoix"  src="assets/isolement-img/sad.png" class="etaticone">


        <h3>Maria borney</h3>

      </div>
      <div class="blocks" >
        <img src="../../assets/offres/poster2.jpg" class="commentimg">
        <img class="insidchoix"  src="assets/isolement-img/sad.png" class="etaticone">


        <h3>Maria borney</h3>

      </div>
      <div class="blocks" >
        <img src="../../assets/offres/poster3.jpg" class="commentimg">
        <img class="insidchoix"  src="assets/isolement-img/sad.png" class="etaticone">


        <h3>Maria borney</h3>

      </div>
      <div class="blocks" >
        <img src="../../assets/offres/poster2.jpg" class="commentimg">
        <img class="insidchoix"  src="assets/isolement-img/sad.png" class="etaticone">


        <h3>Maria borney</h3>

      </div>
      <div class="blocks" >
        <img src="../../assets/offres/poster2.jpg" class="commentimg">
        <img class="insidchoix"  src="assets/isolement-img/sad.png" class="etaticone">


        <h3>Maria borney</h3>

      </div>
      <div class="blocks" >
        <img src="../../assets/offres/poster2.jpg" class="commentimg">
        <img class="insidchoix"  src="assets/isolement-img/sad.png" class="etaticone">


        <h3>Maria borney</h3>

      </div>
      <div class="blocks" >
        <img src="../../assets/offres/poster2.jpg" class="commentimg">
        <img class="insidchoix"  src="assets/isolement-img/sad.png" class="etaticone">


        <h3>Maria borney</h3>

      </div>

    </div>
  </div>




  <div class="col-md-7" id="center">






    <div    class="offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster3.jpg">
        <span class="postername ">Poster Name</span>
      </div>

      <form>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Que voulez vous dire?"></textarea>
        </div>
      </form>
      <hr>

      <div class="offerelement ">
        <div class="choix">
          <img class="insidchoix" src="assets/isolement-img/share.png">
          <span class="insidchoix" >Partage d'xpérience</span>
        </div>
        <div class="choix">
          <img class="insidchoix"  src="assets/isolement-img/sad.png">
          <span class="insidchoix" >Rompre ton isolement</span>
        </div>
      </div>

      <div class="offerelement" ><a href="#" class="myButton">Publier</a>
      </div>


    </div>









    <div    class="offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster3.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement ">
      <span>text this is a text that was posted bye another user he'is sharing his experience trought this post
      his experience trought this post his experience trought this post</span>
      </div>




      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="offerelement ">
        <span><a data-toggle="collapse" href="#collapse2" > 159 commentaire <img class="littleicone" src="../../../assets/isolement-img/bottom.png">
         </a></span>
            </div>
            <hr>          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">


              <div class="commentarea">
                <div class="comment">
                  <img class="commentimg" src="../../../assets/offres/poster4.jpg" style="margin-top: -12px;" >

                  <span>this is the first comment</span>

                </div>
                <div class="comment">
                  <img class="commentimg" src="../../../assets/offres/poster2.jpg" style="margin-top: -12px;" >

                  <span>this is the second comment this is the second commentthis is the second comment</span>

                </div>
                <div class="addcomment">
                  <div class="displayitems" >

                    <img class="commentimg" src="../../../assets/offres/poster3.jpg" style="  margin-bottom: -15px;" >


                  </div>
                  <div class="displayitems">
                    <form>
                      <div class="form-group ">
                        <input class="form-control commentinput " type="text" placeholder="Ajouter un commentaire">

                      </div>
                    </form>
                  </div>
                  <div class="displayitems " ><a href="#" id="addcomment">Envoyer</a>
                  </div>

                </div>


              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
    <div    class="offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster1.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement ">
      <span>text this is a text that was posted bye another user he'is sharing his experience trought this post
      his experience trought this post his experience trought this post</span>
      </div>




      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="offerelement ">
        <span><a data-toggle="collapse" href="#collapse2" > 159 commentaire <img class="littleicone" src="../../../assets/isolement-img/bottom.png">
         </a></span>
            </div>
            <hr>          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">


              <div class="commentarea">
                <div class="comment">
                  <img class="commentimg" src="../../../assets/offres/poster4.jpg" style="margin-top: -12px;" >

                  <span>this is the first comment</span>

                </div>
                <div class="comment">
                  <img class="commentimg" src="../../../assets/offres/poster2.jpg" style="margin-top: -12px;" >

                  <span>this is the second comment this is the second commentthis is the second comment</span>

                </div>
                <div class="addcomment">
                  <div class="displayitems" >

                    <img class="commentimg" src="../../../assets/offres/poster3.jpg" style="  margin-bottom: -15px;" >


                  </div>
                  <div class="displayitems">
                    <form>
                      <div class="form-group ">
                        <input class="form-control commentinput " type="text" placeholder="Ajouter un commentaire">

                      </div>
                    </form>
                  </div>
                  <div class="displayitems " ><a href="#" id="addcomment">Envoyer</a>
                  </div>

                </div>


              </div>



            </div>
          </div>
        </div>
      </div>
    </div>


    <div    class="offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster2.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement ">
      <span>text this is a text that was posted bye another user he'is sharing his experience trought this post
      his experience trought this post his experience trought this post</span>
      </div>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="offerelement ">
        <span><a data-toggle="collapse" href="#collapse1" > 1594 commentaire <img class="littleicone" src="../../../assets/isolement-img/bottom.png">
         </a></span>
            </div>
            <hr>          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">


              <div class="commentarea">
                <div class="comment">
                  <img class="commentimg" src="../../../assets/offres/poster4.jpg" style="margin-top: -12px;" >

                  <span>this is the first comment</span>

                </div>
                <div class="comment">
                  <img class="commentimg" src="../../../assets/offres/poster2.jpg" style="margin-top: -12px;" >

                  <span>this is the second comment this is the second commentthis is the second comment</span>

                </div>
                <div class="addcomment">
                  <div class="displayitems" >

                    <img class="commentimg" src="../../../assets/offres/poster3.jpg" style="  margin-bottom: -15px;" >


                  </div>
                  <div class="displayitems">
                    <form>
                      <div class="form-group ">
                        <input class="form-control commentinput " type="text" placeholder="Ajouter un commentaire">

                      </div>
                    </form>
                  </div>
                  <div class="displayitems " ><a href="#" id="addcomment">Envoyer</a>
                  </div>

                </div>


              </div>



            </div>
          </div>
        </div>
      </div>















    </div>






  </div>






  <div class="col-md-3" id="rightsidebar">

    <div class="blocks "  >
      <h2 > Personnaliser votre recherche </h2>
    </div>
    <div class="blocks" >


      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Chercher une ?</button>
        <div class="dropdown-content">
          <a href="#">Demande de communication</a>
          <a href="#">Partage d'experience</a>
        </div>
      </div>


    </div>


  </div>
</div>

