

<div  id="headerMenu">

  <div class="row" id="menurow" style="margin: 0px ">

    <div class="col-md-2 smallcol"style="margin-left: 250px" >
      <div class="insidecard">
        <a href="#" class="" routerLink="cours">
          <div class="icone">
            <img src="../../assets/offres/2.png" class="menuicone">
          </div></a>
        <p>COURS</p>

      </div>

    </div>

    <div class="col-md-2 smallcol" style="margin-left: 200px">
      <div class="insidecard">
        <a href="#" class="" routerLink="forum">
          <div class="icone">
            <img src="../../assets/offres/6.png" class="menuicone">
          </div></a>
        <p>FORUM</p>

      </div>

    </div>

  </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">

      <div class="blocks" style="margin-left: 20px" >
        <img src="../../assets/offres/user.jpg" id="profileimage">
        <h6>Maria borney</h6>
        <div class="row" class="littearea">
          <img src="../../assets/offres/fb.png" class="socialmedia" >
          <img src="../../assets/offres/insta.png" class="socialmedia">
          <img src="../../assets/offres/twitter.png" class="socialmedia">

        </div>
      </div>
      <div class="blocks" >
        <img src="../../assets/offres/plus.png" class="socialmedia">
        <a routerLink="cours"> Cours</a>
        <br><br>
        <img src="../../assets/offres/plus.png" class="socialmedia">

        <a routerLink="forum"> Forum</a>
        <br><br>

      </div>
    </div>
  </div>
  <div class="col-md-8" id="center">


    <div class="col-md-12   offercard" >
  <h3 >Titre vidéo</h3>
      <div class="video-wrapper">
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=zGIslyvfGlg" data-effect="fadeIn">
          <img class="img-fluid" src="../../../assets/home-page/images/video.JPG" alt="alternative">
          <span class="video-play-button">
                                    <span></span>
                                </span>
        </a>
        <p class="description"> ici la description du cours</p>
        <div class="col-md-12   offercard" >
          <h3 >Questions/Réponses </h3>
          <p class="description">Q1: question 1?</p>
          <hr>
          <p class="description">Q2: question 2?</p>
          <hr>
          <p class="reponse">R1: La première réponse</p>
          <hr>
          <p class="reponse">R2: La deusième réponse</p>
          <hr>
          <form>
            <div class="form-group">

              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Posez votre question ici ...">
              <small id="emailHelp" class="form-text text-muted">Votre question sera postée en anonyme</small>
            </div>

            <button type="submit" class="btn btn-primary" style="background-color: #400799; margin-left: 690px">Publier</button>
          </form>

          </div> <!-- end of video-wrapper -->



      </div> <!-- end of video-wrapper -->


    </div>



  </div>
  <div class="col-md-2" id="rightsidebar">

    <div class="blocks "  >
      <h2 > Personnaliser votre recherche </h2>
    </div>
    <div class="blocks" >


      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Catégorie</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>


    </div>
    <div class="blocks" >

      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Sous Catégorie</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

    </div>


  </div>
</div>

