<form>


  <div class="form-group" style="margin-top: 60px;">
    <label for="selectservice">Service</label>
    <select  class="form-control" id="selectservice" [(ngModel)]="demande.typeService"  name="typeService" (change)="this.getselectedtypeservice($event)">
      <option *ngFor="let ts of typeServices"  [ngValue]="ts.id">{{ts.libelle}}</option>

    </select>
  </div>
  <div class="form-group">
    <label for="selectville">Ville</label>
    <select #selectedville class="form-control" id="selectville"  [(ngModel)]="demande.ville" name="ville" (change)="this.filterSubById($event)">
      <option *ngFor="let v of this.villes" [ngValue]="v.id">{{v.nom}}</option>

    </select>
  </div>
  <div class="form-group">
    <label for="selectquartier">Quartier</label>
    <select  class="form-control" id="selectquartier"  [(ngModel)]="demande.quartier" name="quartier" (change)="this.getselectedquartier($event)">
      <option *ngFor="let q of quartiers" [ngValue]="q.id">{{q.nom}}</option>

    </select>
  </div>


  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  [(ngModel)]="demande.description" name="desction"></textarea>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="demande.dateDemande" name="date" (input)="parseDate($event)">
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-dialog-close="true" class="my-3 btn btn-block btn-publier"  (click)="save()">Publier</button>

</form>

