<h1 id="pres" class="text-center">Prés pour nous rejoindre <img src="assets/isolement-img/icons/pres.png" alt="pres"></h1>
<div class="cobtainer">
  <div class="row">
    <div class="col-md-6">
      <div id="borderDemo1">
        <div class="container">
          <div class="row">
            <div class="col-md-10"><p id="p1">Voir les publication des gens et apprendre de leurs expériences avec le covid-19 et partager votre avec nous vos expérience pour aussi aider autres</p></div>
            <div class="col-md-2"><img src="assets/isolement-img/icons/pub.png" alt="" class="img"></div>
          </div>
        </div>
        <div class="cont">
          <div class="cent">
            <button class="btn" id="btn1">
              <svg width="180px" height="60px" viewBox="0 0 180 60" class="border1">
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
              </svg>
              <span>Voir les publication</span>
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div id="borderDemo2">
        <div class="container">
          <div class="row">
            <div class="col-md-2"><img src="assets/isolement-img/icons/conv.png" alt="conv" class="img"></div>
            <div class="col-md-10"><p id="p2">Contacter les fens qui ont des problémes en selon plusiers moyens et publier vos demandes de communication pour que les autres utilisateurs puisse vous contacte</p></div>
          </div>
        </div>
        <div class="cont">
          <div class="cent">
            <button class="btn" id="btn2">
              <svg width="180px" height="60px" viewBox="0 0 180 60" class="border2">
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
              </svg>
              <span>Cotactez les gens</span>
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

