

<div  id="headerMenu">

  <div class="row" id="menurow" style="margin: 0px ">

    <div class="col-md-2 smallcol"style="margin-left: 250px" >
      <div class="insidecard">
        <a href="#" class="" routerLink="createur">
          <div class="icone">
            <img src="../../assets/offres/2.png" class="menuicone">
          </div></a>
        <p>COURS</p>

      </div>

    </div>

    <div class="col-md-2 smallcol" style="margin-left: 200px">
      <div class="insidecard">
        <a href="#" class="" routerLink="forum">
          <div class="icone">
            <img src="../../assets/offres/6.png" class="menuicone">
          </div></a>
        <p>FORUM</p>

      </div>

    </div>

  </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">

      <div class="blocks" style="margin-left: 20px" >
        <img src="../../assets/offres/user.jpg" id="profileimage">
        <h6>Maria borney</h6>
        <div class="row" class="littearea">
          <img src="../../assets/offres/fb.png" class="socialmedia" >
          <img src="../../assets/offres/insta.png" class="socialmedia">
          <img src="../../assets/offres/twitter.png" class="socialmedia">

        </div>
      </div>
      <div class="blocks" >
        <img src="../../assets/offres/plus.png" class="socialmedia">

        <a routerLink="mescours">Mes Cours</a>
        <br><br>
        <img src="../../assets/offres/plus.png" class="socialmedia">

        <a routerLink="forum">Forum</a>
        <br><br>
        <button type="button" class="btn btn-success" style="width: 160px;margin-left: 10px" data-toggle="modal" data-target="#exampleModal">PUBLIER COURS</button>

      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3>Ajouter Votre Cours</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Titre" required>
                </div>
                <div class="form-group">
                  <textarea type="text" class="form-control" id="formGroupExampleInput2" placeholder="Description" required></textarea>
                </div>
                <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required>
                  <option selected>Catégorie</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <select class="custom-select my-1 mr-sm-2" required>
                  <option selected>Sous Catégorie</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <br>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                  <label class="custom-file-label" for="validatedCustomFile">Ajoutez votre vidéo</label>
                  <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary">Publier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8" id="center">


    <div class="col-md-12   offercard" >
      <h3 >Titre vidéo</h3>
      <div class="video-wrapper">
        <a class="popup-youtube" href="https://www.youtube.com/watch?v=zGIslyvfGlg" data-effect="fadeIn">
          <img class="img-fluid" src="../../../assets/home-page/images/video.JPG" alt="alternative">
          <span class="video-play-button">
                                    <span></span>
                                </span>
        </a>
        <p class="description"> ici la description du cours</p>
        <div class="col-md-12   offercard" >
          <h3 >Questions/Réponses </h3>
          <p class="description">Q1: question 1?</p>
          <hr>
          <p class="description">Q2: question 2?</p>
          <hr>
          <p class="reponse">R1: La première réponse</p>
          <hr>
          <p class="reponse">R2: La deusième réponse</p>
          <hr>
          <form>
            <div class="form-group">

              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Publier votre réponse ici ...">
            </div>


            <button type="submit" class="btn btn-primary" style="background-color: #400799; margin-left: 690px">Publier</button>


          </form>

        </div> <!-- end of video-wrapper -->



      </div> <!-- end of video-wrapper -->


    </div>



  </div>
  <div class="col-md-2" id="rightsidebar">

    <div class="blocks "  >
      <h2 > Personnaliser votre recherche </h2>
    </div>
    <div class="blocks" >


      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Catégorie</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>


    </div>
    <div class="blocks" >

      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Sous Catégorie</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

    </div>


  </div>
</div>

