

<div  id="headerMenu">

  <div class="row" id="menurow" style="margin: 0px">

    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="demandes">
          <div class="icone">
            <img src="../../assets/offres/2.png" class="menuicone">
          </div></a>
        <p>Demandes</p>

      </div>

    </div>


    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="mesdemandes">
          <div class="icone">
            <img src="../../assets/offres/5.png" class="menuicone">
          </div></a>
        <p>Mes Demandes</p>

      </div>

    </div>



    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a  (click)="openDialog()" >
          <div class="icone">
            <img src="../../assets/offres/1.png" class="menuicone">
          </div></a>
        <p>Ajouter
          demande</p>

      </div>

    </div>

    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="offres">
          <div class="icone">
            <img src="../../assets/offres/4.png" class="menuicone">
          </div></a>
        <p>Offres</p>

      </div>

    </div>



  </div>
</div>
<div class="row">
  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">

      <div class="blocks" >
        <img src="../../../assets/user/{{this.me.image}}" id="profileimage">
        <h6>{{this.me.prenom}} {{this.me.nom}}</h6>
        <div class="row" class="littearea">
          <img src="../../assets/offres/fb.png" class="socialmedia" >
          <img src="../../assets/offres/insta.png" class="socialmedia">
          <img src="../../assets/offres/twitter.png" class="socialmedia">

        </div>
      </div>
      <div class="blocks" >
        <img src="../../assets/offres/plus.png" class="socialmedia">

        {{this.demandes.length}} Demandes
        <br>

    </div>
  </div>

  </div>


  <div class="col-md-7" id="center">


    <div *ngFor="let d of demandes " class="divcard ">

      <div   ng-hide='!d.participant.id == null' class="offercard   item" *ngIf="d.participant==null">




        <div class="poster offerelement" >
          <img src="../../assets/offres/{{d.user.image}} " >
          <span class="postername ">{{d.user.prenom }} {{d.user.nom }}</span>
        </div>
        <div class="offerelement" ><span class="ville ">{{d.ville.nom}},{{d.quartier.nom}}</span></div>

        <div class="offerelement" ><span class="service ">{{d.typeService.libelle}}</span></div>
        <div class="offerelement heure"  ><span class="service "> Date offre : {{d.dateDemande | date: 'dd/MM/yyyy'}}   </span></div>
        <div class="offerelement" ><h4 >{{d.description}}</h4></div>

        <div class="offerelement" ><a  style="color: #4f3cda" class="myButton"  (click)="this.participer(d)">Répondre </a>
        </div>


        </div>






      </div   >




  </div>

  <div class="col-md-3" id="rightsidebar">

    <div class="blocks "  >
      <h2 > Personnaliser votre recherche </h2>
    </div>

    <div class="blocks" >

      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Ville</button>
        <div class="dropdown-content">
          <a  *ngFor="let v of villes"  (click)="this.getdemandeByville(v.id)" style="cursor: pointer">{{v.nom}}</a>

        </div>
      </div>

    </div>
    <div class="blocks" >
      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Quartier</button>
        <div class="dropdown-content">
          <a  *ngFor="let q of quartiers  " style="cursor: pointer" (click)="this.getdemandeByquartier(q.nom)"> {{q.nom}}</a>

        </div>
      </div>

    </div>

    <div class="blocks" >

      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Service</button>
        <div class="dropdown-content">
          <a  *ngFor="let ts of typeServices " (click)="this.getdemandeBytypeservice(ts.libelle)" style="cursor: pointer">{{ts.libelle}}</a>

        </div>
      </div>


    </div>

  </div>
</div>

