<div class="row cont">

  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">

      <div class="blocks" >
        <img src="../../assets/offres/user.jpg" id="profileimg">
        <h6>{{user_profiteur.nom}} {{user_profiteur.prenom}}</h6>
        <div class="row" class="littearea">
          <img src="../../assets/offres/fb.png" class="socialmedia" >
          <img src="../../assets/offres/insta.png" class="socialmedia">
          <img src="../../assets/offres/twitter.png" class="socialmedia">
        </div>
      </div>
      <div class="blocks" >
        <img [src]="user_profiteur.image" class="socialmedia">
        {{offresaccepter.length}} offres
        <br>
        <img src="../../assets/offres/plus.png" class="socialmedia">
        {{nbr_participants}} Répones
      </div>
    </div>
  </div>
  <div class="col-md-9 listbg">
    <div class="list">
      <div class="listblock">
        <h3>les offres de quelles j'ai profité</h3>
      </div>
      <div class="listblock" *ngFor="let offreaccepte of offresaccepter;let indexOfelement=index" >
        <div class="row"  >
          <div class="col-md-9">
            <img [src]="offreaccepte.offre.user.image" class="profileimage blockitems">
            <div class="blockitems namedate" >
              <span class="sousblockitems username" >{{offreaccepte.offre.user.nom}} {{offreaccepte.offre.user.prenom}}</span>
              <br>
              <span class="sousblockitems date" >{{offreaccepte.offre.dateOffre|date:'dd/MM/yyyy'}}</span>
              <span class="blockitems ville" >, {{offreaccepte.offre.ville.nom}},{{offreaccepte.offre.quartier.nom}}</span>
            </div>
            <br>
            <span class="blockitems service" >{{offreaccepte.offre.typeService.libelle}}</span>
            <br>
            <span class="blockitems desc" >{{offreaccepte.offre.desction}}</span>
            <br>
            <span (click)="getParticipants(offreaccepte.offre.id)" style="color: blue;font-weight: bold;font-size: 13px">
                Voir Participants
              </span>
            <br>
            <span class="blockitems participants" *ngFor="let par of participants" >
             {{par.user.nom}} {{par.user.prenom}}
            </span>
          </div>
          <div class="col-md-3" style="padding: 0;" >
            <div class="buttoncotainer">
              <a class="mybtn2 buttons">
                <img src="../../assets/offres/x.png"   (click)="deleteUsreOffre(offreaccepte.id)"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
