@media screen and (max-width: 1100px) {
  .icon {
  }
}
.back-inscription{
  background-color:#f3f7fd;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}
.send{
  background:linear-gradient(#5f4dee,#400799);
  border-radius: 40px;

}
.send:hover{
  background:white;
  color:#5f4dee;
}
.input1{
  border-radius: 40px;
}
.parent{
  margin-right: 20%;
  margin-left:20% ;
  border-radius:0px;
}
.inscription-text{
  color:#5f4dee;
}
.fa-user-circle{
  color: #5f4dee;
}
.aside{
  background-color: #f3f7fd;
  text-align: center;
  color:black;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-items: center;
  font-family: Algerian;
}
.icon{
  color:#5f4dee;
  padding:10px;
  border-color: #5f4dee;
  border-width:1px;
  border-style: solid;
  border-radius: 30px;
}
.face{

  padding:10px;
  padding-left: 15px;
  padding-right: 15px;
  border-color:#5f4dee;
  border-width:1px;
  border-style: solid;
  border-radius: 30px;
}
.icon:hover{
  color:white;
}
