

<div  id="headerMenu">

  <div class="row" id="menurow" style="margin: 0px">

    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="offres">
          <div class="icone">
            <img src="../../assets/offres/2.png" class="menuicone">
          </div></a>
        <p>Offres</p>

      </div>

    </div>


    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="mesoffres">
          <div class="icone">
            <img src="../../assets/offres/5.png" class="menuicone">
          </div></a>
        <p>Mes Offres</p>

      </div>

    </div>



    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a  (click)="openDialog()" >
          <div class="icone">
            <img src="../../assets/offres/1.png" class="menuicone">
          </div></a>
        <p>Ajouter Offre</p>

      </div>

    </div>

    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="demandes">
          <div class="icone">
            <img src="../../assets/offres/4.png" class="menuicone">
          </div></a>
        <p>Demandes</p>


      </div>

    </div>

    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="mesparticipations">
          <div class="icone">
            <img src="../../assets/offres/6.png" class="menuicone">
          </div></a>
        <p>Mes Participations</p>

      </div>

    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">



      <div class="blocks" >
        <img src="../../../assets/user/{{this.me.image}}" id="profileimage">
        <h6>{{this.me.prenom}} {{this.me.nom}}</h6>
        <div class="row" class="littearea">
          <img src="../../assets/offres/fb.png" class="socialmedia" >
          <img src="../../assets/offres/insta.png" class="socialmedia">
          <img src="../../assets/offres/twitter.png" class="socialmedia">

        </div>
      </div>
      <div class="blocks" >
        <img src="../../assets/offres/plus.png" class="socialmedia">

        {{this.offres.length}} offres


    </div>
  </div>
  </div>


  <div class="col-md-7" id="center" >
    <div  >

    <div class="col-md-4   offercard" *ngFor="let o of offres"   >



      <div class="poster offerelement" >
            <img src="../../assets/offres/{{o.user.image}} ">
        <span class="postername ">{{o.user.prenom }} {{o.user.nom }}</span>
      </div>
      <div class="offerelement" ><span class="ville ">{{o.ville.nom}},{{o.quartier.nom}}</span></div>

      <div class="offerelement" ><span class="service ">{{o.typeService.libelle}}</span></div>
      <div class="offerelement heure"  ><span class="service "> Date offre : {{o.dateOffre | date: 'dd/MM/yyyy'}}   </span></div>
      <div class="offerelement" ><h4 >{{o.desction}}</h4></div>



      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="offerelement ">
        <span class="ville"><a style="color :#4f3cda" data-toggle="collapse" href="#collapse{{o.user.id}}" (click)="this.getparticipant(o.id)"  >  Participants
         </a></span>
            </div>
          <div id="collapse{{o.user.id}}" class="panel-collapse collapse">
            <div class="panel-body participant " *ngFor="let oa of this.participations" >

              <img src="../../assets/offres/{{oa.user.image}} " >

            </div>
          </div></div></div>

              <div class="offerelement" ><a style="color: #4f3cda" class="myButton" (click)="this.participer(o.id)">Participer</a>
      </div>


    </div>



    </div>

  </div>
  </div>
  <div class="col-md-3" id="rightsidebar">

    <div class="blocks "  >
      <h2 > Personnaliser votre recherche </h2>
    </div>

    <div class="blocks" >

      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Ville</button>
        <div class="dropdown-content">
          <a  *ngFor="let v of villes"  (click)="this.getOffreByville(v.id)" style="cursor: pointer">{{v.nom}}</a>

        </div>
      </div>

    </div>
    <div class="blocks" >
      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Quartier</button>
        <div class="dropdown-content">
          <a  *ngFor="let q of quartiers  " style="cursor: pointer" (click)="this.getOffreByquartier(q.nom)"> {{q.nom}}</a>

        </div>
      </div>

    </div>

    <div class="blocks" >

    <div class="dropdown">
      <button class="dropbtn"><span class="icon"></span>Service</button>
      <div class="dropdown-content">
        <a  *ngFor="let ts of typeServices " (click)="this.getOffreBytypeservice(ts.libelle)" style="cursor: pointer">{{ts.libelle}}</a>

      </div>
    </div>


  </div>
</div>

</div>
