

<div  id="headerMenu">

  <div class="row" id="menurow" style="margin: 0px">

    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="offres">
          <div class="icone">
            <img src="../../assets/offres/2.png" class="menuicone">
          </div></a>
        <p>Offres</p>

      </div>

    </div>


    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="mesoffres">
          <div class="icone">
            <img src="../../assets/offres/5.png" class="menuicone">
          </div></a>
        <p>Mes Offres</p>

      </div>

    </div>



    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a  (click)="openDialog()" >
          <div class="icone">
            <img src="../../assets/offres/1.png" class="menuicone">
          </div></a>
        <p>Ajouter Offre</p>

      </div>

    </div>

    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="demandes">
          <div class="icone">
            <img src="../../assets/offres/4.png" class="menuicone">
          </div></a>
        <p>Demandes</p>


      </div>

    </div>

    <div class="col-md-2 smallcol" >
      <div class="insidecard">
        <a href="#" class="" routerLink="mesparticipations">
          <div class="icone">
            <img src="../../assets/offres/6.png" class="menuicone">
          </div></a>
        <p>Mes Participations</p>

      </div>

    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">

      <div class="blocks" >
        <img src="../../assets/offres/user.jpg" id="profileimage">
        <h6>Maria borney</h6>
        <div class="row" class="littearea">
          <img src="../../assets/offres/fb.png" class="socialmedia" >
          <img src="../../assets/offres/insta.png" class="socialmedia">
          <img src="../../assets/offres/twitter.png" class="socialmedia">

        </div>
      </div>
      <div class="blocks" >
        <img src="../../assets/offres/plus.png" class="socialmedia">

        20 offres
        <br>
        <img src="../../assets/offres/plus.png" class="socialmedia">

        50 Répones
      </div>
    </div>
  </div>




  <div class="col-md-7" id="center">


    <div class="col-md-4   offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster1.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement" ><span class="ville ">Marrakech,Mhamid</span></div>

      <div class="offerelement" ><span class="service ">Offre de courses</span></div>
      <div class="offerelement heure"  ><span class="service ">Heure d'offre 15h</span></div>
      <div class="poster offerelement participant">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/user1.jpg">
        <img src="../../../assets/offres/user2.jpg">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/plususer.png">

      </div>
      <div class="offerelement" ><a href="#" class="myButton">Participer</a>
      </div>


    </div>

    <div class="col-md-4   offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster2.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement" ><span class="ville ">Marrakech,Mhamid</span></div>

      <div class="offerelement" ><span class="service ">Offre de courses</span></div>
      <div class="offerelement heure"  ><span class="service ">Heure d'offre 15h</span></div>
      <div class="poster offerelement participant">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/user1.jpg">
        <img src="../../../assets/offres/user2.jpg">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/plususer.png">

      </div>
      <div class="offerelement" ><a href="#" class="myButton">Participer</a>
      </div>


    </div>

    <div class="col-md-4   offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster3.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement" ><span class="ville ">Marrakech,Mhamid</span></div>

      <div class="offerelement" ><span class="service ">Offre de courses</span></div>
      <div class="offerelement heure"  ><span class="service ">Heure d'offre 15h</span></div>
      <div class="poster offerelement participant">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/user1.jpg">
        <img src="../../../assets/offres/user2.jpg">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/plususer.png">

      </div>
      <div class="offerelement" ><a href="#" class="myButton">Participer</a>
      </div>


    </div>

    <div class="col-md-4   offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster4.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement" ><span class="ville ">Marrakech,Mhamid</span></div>

      <div class="offerelement" ><span class="service ">Offre de courses</span></div>
      <div class="offerelement heure"  ><span class="service ">Heure d'offre 15h</span></div>
      <div class="poster offerelement participant">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/user1.jpg">
        <img src="../../../assets/offres/user2.jpg">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/plususer.png">

      </div>
      <div class="offerelement" ><a href="#" class="myButton">Participer</a>
      </div>


    </div>

    <div class="col-md-4   offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster5.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement" ><span class="ville ">Marrakech,Mhamid</span></div>

      <div class="offerelement" ><span class="service ">Offre de courses</span></div>
      <div class="offerelement heure"  ><span class="service ">Heure d'offre 15h</span></div>
      <div class="poster offerelement participant">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/user1.jpg">
        <img src="../../../assets/offres/user2.jpg">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/plususer.png">

      </div>
      <div class="offerelement" ><a href="#" class="myButton">Participer</a>
      </div>


    </div>

    <div class="col-md-4   offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/poster6.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement" ><span class="ville ">Marrakech,Mhamid</span></div>

      <div class="offerelement" ><span class="service ">Offre de courses</span></div>
      <div class="offerelement heure"  ><span class="service ">Heure d'offre 15h</span></div>
      <div class="poster offerelement participant">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/user1.jpg">
        <img src="../../../assets/offres/user2.jpg">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/plususer.png">

      </div>
      <div class="offerelement" ><a href="#" class="myButton">Participer</a>
      </div>


    </div>



    <div class="col-md-4   offercard" >

      <div class="poster offerelement" >
        <img src="../../../assets/offres/user.jpg">
        <span class="postername ">Poster Name</span>
      </div>
      <div class="offerelement" ><span class="ville ">Marrakech,Mhamid</span></div>

      <div class="offerelement" ><span class="service ">Offre de courses</span></div>
      <div class="offerelement heure"  ><span class="service ">Heure d'offre 15h</span></div>
      <div class="poster offerelement participant">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/user1.jpg">
        <img src="../../../assets/offres/user2.jpg">
        <img src="../../../assets/offres/user4.jpg">
        <img src="../../../assets/offres/plususer.png">

      </div>
      <div class="offerelement" ><a href="#" class="myButton">Participer</a>
      </div>


    </div>

  </div>
  <div class="col-md-3" id="rightsidebar">

    <div class="blocks "  >
      <h2 > Personnaliser votre recherche </h2>
    </div>
    <div class="blocks" >


      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Ville</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>


    </div>
    <div class="blocks" >

      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Quartier</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

    </div>
    <div class="blocks" >
      <div class="dropdown">
        <button class="dropbtn"><span class="icon"></span>Service</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

    </div>

  </div>
</div>

