<div class="container">
  <div class="row">

<div class="col-md-6">
    <h1 id="tjr">Toujours ensembles <img src="assets/isolement-img/purple-heart.png" alt="Toujours ensembles!"></h1>
</div>

<div class="mot col-md-6">
  <blockquote class="quote-box">
    <p class="quotation-mark">
      “
    </p>
    <p class="quote-text">
      Notre objectif est de rester toujours proches comme une famille, Vous ne senterez alors plus seuls face à vos problèmes
    </p>
    <hr>
    <div class="blog-post-actions">
      <p class="blog-post-bottom pull-left">
        Mot de l'équipe
      </p>
    </div>
  </blockquote>
</div>

</div>
</div>
