<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Culpa cupiditate, ex excepturi facere in iure porro voluptatibus? Facilis ipsa
      iure minima nemo voluptatem? A iusto neque praesentium ullam veritatis, voluptate!
      </p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa cupiditate, ex excepturi facere in iure porro voluptatibus? Facilis ipsa
        iure minima nemo voluptatem? A iusto neque praesentium ullam veritatis, voluptate!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa cupiditate, ex excepturi facere in iure porro voluptatibus? Facilis ipsa
        iure minima nemo voluptatem? A iusto neque praesentium ullam veritatis, voluptate!
      </p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa cupiditate, ex excepturi facere in iure porro voluptatibus? Facilis ipsa
        iure minima nemo voluptatem? A iusto neque praesentium ullam veritatis, voluptate!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa cupiditate, ex excepturi facere in iure porro voluptatibus? Facilis ipsa
        iure minima nemo voluptatem? A iusto neque praesentium ullam veritatis, voluptate!
      </p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa cupiditate, ex excepturi facere in iure porro voluptatibus? Facilis ipsa
        iure minima nemo voluptatem? A iusto neque praesentium ullam veritatis, voluptate!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa cupiditate, ex excepturi facere in iure porro voluptatibus? Facilis ipsa
        iure minima nemo voluptatem? A iusto neque praesentium ullam veritatis, voluptate!
      </p>
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Culpa cupiditate, ex excepturi facere in iure porro voluptatibus? Facilis ipsa
        iure minima nemo voluptatem? A iusto neque praesentium ullam veritatis, voluptate!
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>

